<!DOCTYPE html>
<html>
<head>
	<title>Checkout</title>
</head>
<body>
	<form action="/cart/checkout" method="post">
		<h2>Contact Information</h2>
		<input type="email" name="email" placeholder="Email">
		<h2>Shipping address</h2>
		<input type="text" name="first_name" placeholder="First name">
		<input type="text" name="last_name" placeholder="Last name">
		<input type="text" name="address" placeholder="Address">
		<input type="number" name="postal" placeholder="Postal code">
		<input type="text" name="city" placeholder="City">
		<input type="text" name="country" placeholder="Country">
		<input type="submit" name="checkout" value="CHECKOUT">
	</form>
</body>
</html>