<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <%- include('layouts/nav') %>
</head>
<body>
    <div class='content'>
        <h1><%= error %> ERROR</h1>
    </div>
    <%- include('layouts/footer') %>
</body>
</html>