<!DOCTYPE html>
<html>
	<head>
		<title>Watches</title>
		<script src="/imgSlideShow.js" defer></script>
		<%- include('layouts/nav') %>
	</head>

	<body>
		<div class="hero row">
			<div class="slidershow">
				<div class="slides">
					<div class="slide">
						<img src="/imgs/hero_1.jpg" style="z-index: 2"/>
					</div>
					<div class="slide slide-right" >
						<img src="/imgs/hero_2.jpg" style="z-index: 2"/>
					</div>
					<div class="slide slide-right" >
						<img src="/imgs/hero_3.jpg" style="z-index: 2"/>
					</div>
				</div>

				<div class="navigation">
					<div class="bar" n="0">
						<div></div>
					</div>
					<div class="bar" n="1">
						<div></div>
					</div>
					<div class="bar" n="2">
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<section class="brand-blocks">
				<h1>Most Popular Brands</h1>
				<div class="center brand-row">
					<a class="block" href="/collection/1">
						<img src="/imgs/brands/1.jpg" />
						<span>Brand One</span>
					</a>
					<a class="block" href="/">
						<img src="/imgs/brands/2.jpg" />
						<span>Brand Two</span>
					</a>
					<a class="block" href="/">
						<img src="/imgs/brands/3.jpg" />
						<span>Brand Three</span>
					</a>
				</div>
				<div class="center brand-row">
					<a class="block" href="/">
						<img src="/imgs/brands/4.jpg" />
						<span>Brand Four</span>
					</a>
					<a class="block" href="/">
						<img src="/imgs/brands/5.jpg" />
						<span>Brand Five</span>
					</a>
					<a class="block" href="/">
						<img src="/imgs/brands/6.jpg" />
						<span>Brand Six</span>
					</a>
				</div>
			</section>
			<section class="popular-watches">
				<h1>Most Popular Watches</h1>
				<div class="watches-row">
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
					<a class="column watch" href="/">
						<img src="/imgs/brands/1.jpg" />
						<label>Brand One</label>
						<i>$83.99</i>
					</a>
				</div>
			</section>
		</div>
		<%- include('layouts/footer') %>
	</body>
</html>
