<!DOCTYPE html>
<html>

<body>
    <footer>
        <h1>Watches</h1>
        <div class='socials'>
            <h2>FOLLOW US</h2>
            <a href="/"><i class="fab fa-facebook-square"></i></a>
            <a href="/"><i class="fab fa-twitter-square"></i></a>
            <a href="/"><i class="fab fa-instagram"></i></a>
        </div>
        <div class='newsletter'>
            <h2>SIGN UP FOR NEWSLETTER</h2>
            <div class='newsletter-email'>
                <input type="email" placeholder="Enter your email">
                <button><i class="fas fa-envelope"></i></button>
            </div>
        </div>
    </footer>
</body>

</html>